
/* Colors */

/* Body */

/* Navbar */

/* Quotes */

/* Main cards */

/* Footer */

  

.navbar {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

h1 {
    text-align: center;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: futura;
    font-size: 45px;
    padding: 20px;
}

.footer {
    margin-top: 10%;
}



