* {
  margin: 0;
  padding: 0;
}


/* Colors */
/* background color - #fdfdfc*/

/* Body */
body {
  background-color: #fdfdfc;
}
/* Body */

/* Navbar */
.navbar {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: bolder;
}
/* Navbar  */

/* Main picture with h1 */

/*Header*/
.h1-header{
  font-family: 'Hind', sans-serif;
  font-weight: 700;
  /* color: #fdfdfc; */
  font-size: 7vw;
  /* text-shadow: -1px 0 #8a8a53f1, 0 1px #8a8a53f1, 1px 0 #8a8a53f1, 0 -1px #8a8a53f1; */
  text-transform: uppercase;
  }
  .h2-header {
  font-family: 'Lato', sans-serif;
  color: #fdfdfc;
  font-size: 4.5vw;
  font-weight: 700;
  white-space: pre;
  margin-top: 0px;
  /* text-shadow: -1px 0 #8a8a53f1, 0 1px #8a8a53f1, 1px 0 #8a8a53f1, 0 -1px #8a8a53f1; */
  }

  /* Header */
h1 {
    text-align: center;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    padding: 20px 20px 20px 0px;
    padding-bottom: 0%;
    color: whitesmoke;
}
h2 {
    font-family: 'Lato', sans-serif;
}

/*Header*/
.header {
background: url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center / cover no-repeat ;

height: 100px;
margin-top: 57px;
}
/* Header */
/* Quotes */
.noborder {
    border: none;
    background-color: #fdfdfc;
}

/* Footer */


.imgFooter {
    width: auto; 
    height: 40px;
    margin-bottom: 10px;
}
a:link {
  color: white;
}
    
/* visited link */
a:visited {
  color: #FFFBF0;
}
    
/* mouse over link */
a:hover {
  color: #ffefc4;
}
    
/* Likk on Images */
a.linkOnPictures:link {
  color:white;
  text-decoration: none;
  font-weight: bold;
}
a.linkOnPictures:visited {
color: white;
text-decoration: none;
}
a.linkOnPictures:hover {
text-decoration: none;
color: white;
}
/* Link on Images */


/* Cities */
.card-title-cover {
text-align: center;
font-size: 70px;
font-family: Lato;

}
.introduction-text {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
  text-align: center;    
  font-size: 1.9vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.card-title {
text-align: center;
/* font-weight: lighter; */
font-size: 25px;
font-family: 'Oswald', sans-serif;
}
.card-text {
text-align: center;
}



.sub-heading {
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0px;
  text-align: center;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.sub-heading3 {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  text-align: center;
  font-size: 5.5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  white-space: pre;
}
.container-events {
display: flex;
justify-content: center;
margin-bottom: 50px
}
.container-hotels {
  margin-bottom: 100px;
}

btn btn-secondary {
text-align: center;
}

.btn-primary {
  background-color:#1f1c1c52!important;
  border: 0!important;
}

.btn-primary:active {
  background-color:#1f1c1c52!important;
  border: 0!important;
}

.btn-primary:hover {
  background-color:#232323c0!important;
  border: 0!important;
}

.btn-primary:visited {
  background-color:#1f1c1c52!important;
  border: 0!important;
}

.btn-primary:after {
  background-color:#1f1c1c52!important;
  border: 0!important;
}



/* Cities */
a.mainText:link {
    color:#21468B;
    text-decoration: none;
    font-weight: bold;
}
a.mainText:visited {
  color: #21468B;
  text-decoration: none;
}
a.mainText:hover {
  text-decoration: none;
  color: #21468B;
}

/* Events */

.card-title-mp {
margin-top: 20px;
margin-bottom: 10px;
margin-left: 50px;
margin-right: 50px;
padding: 10px;
text-align: center;
font-size: 5.5vw;
font-family: 'Roboto', sans-serif;
font-weight: 900;
white-space: pre;
}

.card-title-mp {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  white-space: pre;
}

/* Timeline */

.main-timeline {
  position: relative
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #c6c6c6;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline {
  margin-bottom: 0px;
  position: relative
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: -3px
}

.main-timeline .icon:after {
  border: 2px solid #c6c6c6;
  left: 3px
}

.main-timeline .timeline:hover .icon:before {
  left: 3px
}

.main-timeline .timeline:hover .icon:after {
  left: -3px
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
  background: #fff;
  border: 2px solid #232323;
  left: -6px
}

.main-timeline .date-outer:after {
  border: 2px solid #c6c6c6;
  left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #232323;
  line-height: 36px
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0
}

.main-timeline .description {
  margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
      margin-top: 35px
  }
  .main-timeline .date-content:before {
      width: 22.5%
  }
  .main-timeline .timeline-content {
      padding: 10px 0 10px 30px
  }
  .main-timeline .title {
      font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 10px 30px 10px 0
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
      margin: 0;
      left: 7px
  }
  .main-timeline .timeline {
      margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
      margin-bottom: 0
  }
  .main-timeline .icon {
      margin: auto 0
  }
  .main-timeline .date-content {
      width: 95%;
      float: right;
      margin-top: 10px;
  }
  .main-timeline .date-content:before {
      display: none
  }
  .main-timeline .date-outer {
      width: 110px;
      height: 110px
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
      width: 110px;
      height: 110px
  }
  .main-timeline .date {
      top: 30%
  }
  .main-timeline .year {
      font-size: 24px
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      width: 95%;
      text-align: center;
      padding: 10px 0
  }
  .main-timeline .title {
      margin-bottom: 10px
  }
}
/* Timeline */

/* form */
form {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contactHeader {
  font-size: 3.5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  white-space: pre;
  }
/* Form */
